<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="<%=htmlWebpackPlugin.files.chunks.main.css %>"
    />
  </head>

  <body>
    <header>
      <div class="container">
        <div class="grid">
          <div class="grid-col">
            <h1><img alt="Logo" id="logo" /></h1>
          </div>
          <div class="grid-col">
            <nav>
              <ul>
                <li>Features</li>
                <li>Support</li>
                <li>Blog</li>
              </ul>
            </nav>
          </div>
        </div>
        <div class="grid header-content">
          <div class="grid-4">
            <h2>Inspire your inspiration</h2>
            <p>
              Simple to use for your app, products showcase and your inspiration
            </p>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent
              vitae eros eget tellus tristique bibendum. Donec rutrum sed sem
              quis venenatis. Proin viverra risus a eros volutpat tempor. In
              quis arcu et eros porta lobortis sit
            </p>
            <ul class="header-devices">
              <li><i class="fab fa-apple"></i></li>
              <li><i class="fab fa-android"></i></li>
              <li><i class="fab fa-windows"></i></li>
            </ul>
          </div>
          <div class="grid-6"><img id="ipad" /></div>
        </div>
      </div>
    </header>
    <section class="features">
      <div class="container">
        <div class="features-content">
          <h3>Tinyone features</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent
            vitae eros eget tellus tristique bibendum. Donec rutrum sed sem quis
            venenatis. Proin viverra risus a eros volutpat tempor. In quis arcu
            et eros porta lobortis sit
          </p>
        </div>
        <div>
          <ul class="grid features-list">
            <li class="grid-4">
              <div>
                <i class="fas fa-mobile-alt"></i>
              </div>
              <div>
                <h4>Fully Responsive</h4>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Praesent vitae eros eget tellus tristique bibendum.
                </p>
              </div>
            </li>
            <li class="grid-4">
              <div>
                <i class="far fa-lemon"></i>
              </div>
              <div>
                <h4>Fully Layered PSD</h4>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Praesent vitae eros eget tellus tristique bibendum.
                </p>
              </div>
            </li>

            <li class="grid-4">
              <div>
                <i class="far fa-folder"></i>
              </div>
              <div>
                <h4>Font Awesome Icons</h4>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Praesent vitae eros eget tellus tristique bibendum.
                </p>
              </div>
            </li>

            <li class="grid-4">
              <div>
                <i class="fas fa-code"></i>
              </div>
              <div>
                <h4>HTML3 & CSS3</h4>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Praesent vitae eros eget tellus tristique bibendum.
                </p>
              </div>
            </li>

            <li class="grid-4">
              <div>
                <i class="far fa-envelope"></i>
              </div>
              <div>
                <h4>Email Template</h4>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Praesent vitae eros eget tellus tristique bibendum.
                </p>
              </div>
            </li>

            <li class="grid-4">
              <div>
                <i class="fas fa-download"></i>
              </div>
              <div>
                <h4>Free to download</h4>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Praesent vitae eros eget tellus tristique bibendum.
                </p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </section>
    <footer>
      <div class="container">
        <div class="footer-content">
          <h5>Keep in touch with us</h5>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent
            vitae eros eget tellus tristique bibendum.
          </p>
        </div>
        <form>
          <input type="email" placeholder="Enter your email to update" />
          <button type="submit">Submit</button>
        </form>
        <ul class="footer-social">
          <li><i class="fab fa-facebook-square"></i></li>
          <li><i class="fab fa-twitter-square"></i></li>
          <li><i class="fab fa-google-plus-square"></i></li>
          <li><i class="fab fa-pinterest-square"></i></li>
        </ul>
        <div class="grid">
          <div class="grid-4">
            HALOVIETNAM LTD 66 <br />
            Dang Van ngu, Dong Da<br />
            Hanoi, Vietnam<br />
            contact@halovietnam.com<br />
            +844 35149182
          </div>
          <ul class="grid-2">
            <li><a href="#">Examples</a></li>
            <li><a href="#">Shop</a></li>
            <li><a href="#">License</a></li>
          </ul>
          <ul class="grid-2">
            <li><a href="#">Contact</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Privacy</a></li>
            <li><a href="#">Terms</a></li>
          </ul>
          <ul class="grid-2">
            <li><a href="#">Download</a></li>
            <li><a href="#">Support</a></li>
            <li><a href="#">Documents</a></li>
          </ul>
          <ul class="grid-2">
            <li><a href="#">Media</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Forums</a></li>
          </ul>
        </div>
      </div>
    </footer>

    <script src="<%= htmlWebpackPlugin.files.chunks.main.entry %>"></script>
  </body>
</html>
