.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  > .grid-col {
    flex: 1;
  }
}

.grid-12 {
  width: 100%;
}
.grid-6 {
  width: 50%;
}
.grid-4 {
  width: 33%;
}
.grid-3 {
  width: 25%;
}
.grid-2 {
  width: 16.66%;
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="grid-"] {
    width: 100%;
  }
}
