@import url("https://fonts.googleapis.com/css?family=PT+Sans");

$black: #010101;
$yellow: #fcdb00;
$white: #fff;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
}
.container {
  margin: 0 auto;
  max-width: 940px;
  width: 100%;
}
header {
  color: $black;
  background: $yellow;
  padding: 45px 0 60px;

  nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    li {
      font-weight: bold;
      font-size: 22px;
    }
  }
  .header-content {
    align-items: center;
    h2 {
      font-size: 30px;
      & + p {
        font-size: 20px;
        margin: 20px 0;
      }
    }
    img {
      margin: 0 auto;
    }
  }
  .header-devices {
    display: flex;
    list-style: none;
    font-size: 300%;
    margin: 20px 0;
    li + li {
      margin-left: 30px;
    }
  }
}

.features {
  padding: 100px 0 170px;

  .features-content {
    text-align: center;
    margin: 20px 0;
    h3 {
      font-size: 20px;
    }
    p {
      margin: 10px 0;
    }
  }

  .features-list {
    svg {
      font-size: 300%;
    }
    li {
      display: flex;
      margin-top: 60px;
      div:first-child {
        width: 60px;
        text-align: center;
      }
      div:last-child {
        flex: 1;
        padding: 0 0 0 20px;
      }
      h4 {
        margin-bottom: 10px;
      }
    }
  }
}

footer {
  background: $black;
  color: $white;
  padding: 90px 0;
  .footer-content {
    text-align: center;

    h5 {
      color: $yellow;
      font-size: 30px;
      margin-bottom: 15px;
    }
    p {
      color: 898989;
      font-size: 18px;
      line-height: 20px;
    }
  }
  form {
    width: 80%;
    margin: 0 auto;
    padding: 20px 0 30px;
    display: flex;
    max-width: 100%;

    input,
    button {
      height: 40px;
      border-radius: 5px;
      padding: 0 15px;
      font-size: 15px;
      border: 0;
      margin: 10px;
      outline: 0;
    }
    input {
      flex-shrink: 1;
      flex-grow: 1;
    }
    button {
      background: $yellow;
      text-transform: uppercase;
      font-weight: bold;
      width: 100px;
      cursor: pointer;
    }
  }
  .footer-social {
    color: $yellow;
    display: flex;
    font-size: 300%;
    justify-content: center;
    margin: 0 auto;
    li {
      margin: 20px;
    }
  }
  li {
    list-style: none;
    a {
      color: $white;
      text-decoration: none;
      transition: ease-in 200ms;
      &:hover {
        color: $yellow;
      }
    }
  }
}
